.main_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--theme);
  color: var(--white);
  .main_content {
    flex: 1 1 10px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    padding: 15px;
  }
}
