.header_container {
  display: flex;
  align-items: start;
  justify-content: center;
  background-image: url("../../assets/images/headerBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 5px;
  min-height: 80px;
}
