:root {
  --theme: #072325;
  --white: #fff;
  --primary_color: #20444e;
  --headerBoxShadow: 0px 0px 30px 3px rgba(23, 81, 96, 0.5);
  --dashBg: #fe5353;
  --dashBorder: #fc2b2b;
  --keyboardKeyBg: #2d5675;
  --keyboardKeyBorder: #0d265c;
}
